<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <script src="/scripts/script.js"></script>
</head>

<body>

    <header>
        <nav>
            <div class="logo-nav">
                <a href="/"><span class="logo-title">Morgana Restaurant</span></a>
                <a href="/order"><span>Order Now</span></a>
                <a href="/menu"><span>Menu</span></a>
                <a href="/admin"><span>View Orders</span></a>
                <a id="cart-btn"><span>Cart</span></a>
            </div>
            <div class="registry">
                <a href="/register"><span>Sign up</span></a>
                <a href="/login"><span class="login">Login</span></a>
            </div>
        </nav>
    </header>
    <%- body %>

        <footer>
            <div class="footer">
                <div class="info1">
                    <h2>Morgana</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi molestiae, totam,
                        pariatur
                        perferendis beatae ipsum at inventore obcaecati quod ipsa tempore molestias sit animi minus
                        commodi
                        nemo
                        optio! Autem!</p>
                </div>

                <div class="info2">
                    <h2>Gallery</h2>
                    <div class="gallery">
                        <div class="img"> <img
                                src="https://media.istockphoto.com/photos/restaurant-plates-picture-id104704117?k=20&m=104704117&s=612x612&w=0&h=kpYSHTcSnkQZbhHmUr25jIIvns7f3x2oBMNvX1lLTwU="
                                alt="" width="150" height="100"></div>
                        <div class="img">
                            <img src="https://www.seriouseats.com/thmb/IweRGu7FAXlGp-jdx--4gLv8DuQ=/1500x844/smart/filters:no_upscale()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__2020__08__20200816-Jamaican-porridge-daniel-gritzer-1-3364fb4f617d4f93bfef13dd02ae4291.jpg"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://media-cdn.tripadvisor.com/media/photo-s/15/9e/05/d1/grilled-prawn.jpg"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://media.istockphoto.com/photos/dinner-picture-id185109733?b=1&k=20&m=185109733&s=170667a&w=0&h=PpPlmIKM3Vdn9cRFAsEV9yigpqPJ_jJ1BXE7iiyyxiA="
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://learnenglishteens.britishcouncil.org/sites/teens/files/styles/article/public/field/image/rs3499_510900499-web.jpg?itok=OQFYdW2x"
                                width="150" height="100" alt="">
                        </div>
                        <div class="img">
                            <img src="https://img.jakpost.net/c/2016/09/29/2016_09_29_12990_1475116504._large.jpg"
                                width="150" height="100" alt="">
                        </div>
                    </div>
                </div>
                <div class="info3">
                    <h2>Get in Touch</h2>
                    <p>Stay tuned to our updates</p>
                    <div class="media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <input type="text">
                    <p>Subscribe</p>
                </div>
            </div>
            <div class="copy">
                <label for="">©Copyright 2021 | all rights reserved</label>
            </div>
        </footer>

</body>

</html>