<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/styles/order.css">
    <script src="/scripts/script.js"></script>

</head>

<body>
    <div class="login-con">
        <div class="login-image">
        </div>
        <div class="login-form">
            <h2>Make An order</h2>
            <form action="/order/add" method="post">

                <label for="">Email</label>
                <input id="quantity" type="email" name="email">

                <label>Date of Order</label>
                <input type="date" name="order_date" id="order_date">


                <!-- <div class="check">
                    <label for="">What would You like? </label>
                    <span class="checkbox-inline">
                        <input name="type" type="checkbox" id="check1" onclick="checkfunction()" value="">Appetizer
                    </span>
                    <span class="checkbox-inline">
                        <input name="type" type="checkbox" id="check2" onclick="checkfunction()" value="">Entree
                    </span>
                    <span class="checkbox-inline">
                        <input type="checkbox" id="check3" onclick="checkfunction()" value="">Dessert
                    </span>
                    <span class="checkbox-inline">
                        <input type="checkbox" id="check4" onclick="checkfunction()" value="">Drinks
                    </span>
                </div> -->

                <div id="start" class="select-con">
                    <div class="food">
                        <label for="">Select An Order</label>
                        <select name="ordered_foodItem" id="start">
                            <option selected disabled value="">Select From Our Menu</option>
                            <optgroup label="Appetizers">
                                <option value="Vegetable Salad">Vegetable Salad</option>
                                <option value="Egg Rosotto">Egg Rosotto</option>
                                <option value="Squash Soup">Squash Soup</option>
                                <option value="Scalaps & Rosotto">Scalaps & Rosotto</option>
                                <option value="Cocunut Porridge">Cocunut Porridge</option>
                                <option value="Grilled Clams">Grilled Clams</option>
                            </optgroup>
                            <optgroup label="Entree">
                                <option value="Barbecue Steak">Barbecue Steak</option>
                                <option value="Rice, peas & Chicken">Rice, peas & Chicken</option>
                                <option value="Roasted Duck">Roasted Duck</option>
                                <option value="Spaghetti & Meatball">Spaghetti & Meatball</option>
                                <option value="poached Lobster">poached Lobster</option>
                                <option value="Roasted lamb">Roasted lamb</option>
                            </optgroup>

                            <optgroup label="Dessert">
                                <option value="Strawberry Cheesecake">Strawberry Cheesecake</option>
                                <option value="vanilla ice-cream">vanilla ice-cream</option>
                                <option value="Chocolate Cupcake">Chocolate Cupcake</option>
                                <option value="Apple Pie">Apple Pie</option>
                                <option value="Carrot Cake">Carrot Cake</option>
                                <option value="Bannana Cake">Bannana Cake</option>
                            </optgroup>
                            <optgroup label="Drinks">
                                <option value="Orange Juice">Orange Juice</option>
                                <option value="Old fashion">Old fashion</option>
                                <option value="Negroni">Negroni</option>
                                <option value="Margarita">Margarita</option>
                                <option value="Apple juice">Apple juice</option>
                                <option value="Bloddy mary">Bloddy mary</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="quan">
                        <label for="">Quantity</label>
                        <input id="quantity" type="number" class="qt" name="quantity">
                    </div>
                </div>

                <!-- <div id="main" class="select-con">
                    <div class="food">
                        <label for="">Select An Entree</label>
                        <select name="">
                            <option selected disabled value="">Choose an Entree</option>
                            <option value="">Skip</option>
                            <option value="">Barbecue Steak</option>
                            <option value="">Rice, peas & Chicken</option>
                            <option value="">Roasted Duck</option>
                            <option value="">Spaghetti & Meatball</option>
                            <option value="">poached Lobster</option>
                            <option value="">Roasted lamb</option>
                        </select>
                    </div>
                    <div class="quan">
                        <label for="">Quantity</label>
                        <input id="quantity" type="number" name="quantity">
                    </div>
                </div>
                <div id="dessert" class="select-con">
                    <div class="food">
                        <label for="">Select A Dessert</label>
                        <select name="" id="dessert">
                            <option selected disabled value="">Choose a dish</option>
                            <option value="">Skip</option>
                            <option value="">Strawberry Cheesecake</option>
                            <option value="">vanilla ice-cream</option>
                            <option value="">Chocolate Cupcake</option>
                            <option value="">Apple Pie</option>
                            <option value="">Carrot Cake</option>
                            <option value="">Bannana Cake3</option>
                        </select>
                    </div>
                    <div class="quan">
                        <label for="">Quantity</label>
                        <input id="quantity" type="number" name="quantity">
                    </div>
                </div>

                <div id="drinks" class="select-con">
                    <div class="food">
                        <label for="">Select A Drink</label>
                        <select name="" id="drinks">
                            <option selected disabled value="">Choose a Drink</option>
                            <option value="">Skip</option>
                            <option value="">Orange Juice</option>
                            <option value="">OLd fashion</option>
                            <option value="">Negroni</option>
                            <option value="">Margarita</option>
                            <option value="">Apple juice</option>
                            <option value="">Bloddy mary</option>
                        </select>
                    </div>
                    <div class="quan">
                        <label for="">Quantity</label>
                        <input id="quantity" type="number" name="quantity">
                    </div>
                </div> -->

                <!-- <label for="">Select A Drink</label>
                <select name="" id="drinks">
                    <option selected disabled value="">Choose a Drink</option>
                    <option value="">Skip</option>
                    <option value="">Orange Juice</option>
                    <option value="">OLd fashion</option>
                    <option value="">Negroni</option>
                    <option value="">Margarita</option>
                    <option value="">Apple juice</option>
                    <option value="">Bloddy mary</option>
                </select> -->

                <button type="submit">Order Now</button>
            </form>
        </div>

    </div>

</body>

</html>