<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/styles/order.css">
</head>

<body>
    <div class="login-con">
        <div class="login-image">
        </div>
        <div class="login-form">
            <h2>Make An order</h2>
            <form action="" method="post">
                <div class="personal">
                    <div class="info1">
                        <label for="">Email</label>
                        <input id="quantity" type="email">

                        <label>Date of Order</label>
                        <input type="date" name="order_date" id="order_date" required>
                    </div>

                    <div class="info2">
                        <label for="">Party number</label>
                        <input id="quantity" type="number">

                        <label>Date of Pickup</label>
                        <input type="date" name="order_date" id="order_date" required>

                    </div>
                </div>






                <label for="">Select An appetizer</label>
                <select name="" id="startup">
                    <option selected disabled value="">Choose an Appetizer</option>
                    <option value="">Skip</option>
                    <option value="">Vegetable Salad</option>
                    <option value="">Egg Rosotto</option>
                    <option value="">Squash Soup</option>
                    <option value="">Scalaps & Rosotto</option>
                    <option value="">Cocunut Porridge</option>
                    <option value="">Grilled Clams</option>

                </select>
                <label for="">Select An Entree</label>
                <select name="" id="main_dish">
                    <option selected disabled value="">Choose an Entree</option>
                    <option value="">Skip</option>
                    <option value="">Barbecue Steak</option>
                    <option value="">Rice, peas & Chicken</option>
                    <option value="">Roasted Duck</option>
                    <option value="">Spaghetti & Meatball</option>
                    <option value="">poached Lobster</option>
                    <option value="">Roasted lamb</option>
                </select>

                <label for="">Select A Dessert</label>
                <select name="" id="dessert">
                    <option selected disabled value="">Choose a dish</option>
                    <option value="">Skip</option>
                    <option value="">Strawberry Cheesecake</option>
                    <option value="">vanilla ice-cream</option>
                    <option value="">Chocolate Cupcake</option>
                    <option value="">Apple Pie</option>
                    <option value="">Carrot Cake</option>
                    <option value="">Bannana Cake3</option>
                </select>

                <label for="">Select A Drink</label>
                <select name="" id="dessert">
                    <option selected disabled value="">Choose a Drink</option>
                    <option value="">Skip</option>
                    <option value="">Orange Juice</option>
                    <option value="">OLd fashion</option>
                    <option value="">Negroni</option>
                    <option value="">Margarita</option>
                    <option value="">Apple juice</option>
                    <option value="">Bloddy mary</option>
                </select>
                <button type="submit">Order Now</button>


        </div>

        </form>
    </div>

</body>

</html>