section .background {
    position: relative;
    background-image: url('/images/check.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;



}

section .background h1 {
    color: #fff;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 25rem;
    padding-left: 5rem;
    padding-top: 7rem;
}