.login-con {
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 10px 10px 28px -9px rgba(181, 165, 165, 0.52);
    -webkit-box-shadow: 10px 10px 28px -9px rgba(181, 165, 165, 0.52);
    -moz-box-shadow: 10px 10px 28px -9px rgba(181, 165, 165, 0.52);
    width: fit-content;

}

.login-con .login-image {
    background-image: url('/images/order2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 35rem;
    height: 45rem;
}


.login-con .login-form {
    background-color: white;
    width: 31rem;
    padding: 25px;
    padding-left: 35px;


}

.login-con .login-form h2 {
    margin-bottom: 2rem;
    margin-left: 10rem;
}

.login-con .login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: .4rem;
}



.login-con .login-form input {
    border: none;
    border: 1px solid rgb(153, 152, 152);
    display: block;
    width: 12rem;
    padding: 15px;
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.login-con .login-form select {
    border: none;
    border: 1px solid rgb(153, 152, 152);
    display: block;
    width: 30rem;
    padding: 18px;
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.login-con .login-form .qty {
    border: none;
    border: 1px solid rgb(153, 152, 152);
    display: block;
    width: 27.5rem;
    padding: 18px;
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.login-con .login-form .account {
    margin-left: 2rem;
    margin-right: 4rem;
}

.login-con .login-form button {
    background-color: gold;
    border: none;
    display: block;
    width: 10rem;
    padding: 12px;
    border-radius: .2rem;
    margin-left: 10rem;
    margin-top: 2rem;

}

.login-form .personal {
    display: flex;
}

.login-form .personal .info1 {

    margin-right: 2rem;
}